/* dashcours.css */
/* dashcours.css */

/* Style for the container of course items */
.course-container {
    display: flex;
    flex-wrap: wrap; /* Allow courses to wrap to the next line */
    justify-content: space-between; /* Distribute courses evenly with space between */
    gap: 20px; /* Add gap between courses */
    padding: 20px;
  }
  
  .course-item {
    background-color: #007991de;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    flex-basis: calc(50% - 20px); /* Set the width for each course item, considering the gap */
    margin-bottom: 20px; /* Add margin between courses */
    max-width: 50%;
    
  }
  
  .course-item:hover {
    transform: translateY(-5px);
  }
  
  /* Style for course images */
  .course-image {
    max-width: 100%; /* Ensure the image doesn't exceed the container */
    height: auto;
    border-radius: 8px; /* Rounded corners for the image */
  }
  
  /* Style for the course name */
  .course-name {
    font-size: 18px;
    margin-top: 10px;
    
  }
  
  /* Style for the container */
  .container-dash {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .main-dash {
    flex: 1;
  }
  
  .toggle {
    display: none; /* Adjust as needed for your toggle element */
  }
  /* dashcours.css */

/* Existing styles for other elements */

/* Style for the h2 element */
/* dashcours.css */

/* Style for the h2 element */
h2 {
    font-size: 28px; /* Increase the font size */
    margin-bottom: 20px;
    color: #333;
    font-weight: bold; /* Add boldness */
    padding: 20px;
  }
  
  
/* Search Input */
.search-container {
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .search-container input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-top: auto;
  }
