.background-signup-tea{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.7);
}
.background-signup-tea::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(https://img.freepik.com/free-photo/top-view-laptop-glasses-with-copy-space_23-2148459760.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    z-index: 0;
    border-radius: 150px 0px 150px 0px;
  }

  .background-signup-tea::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #007991a8; /* Set the desired background color */
    border-radius: 150px 0px 150px 0px;
  }

  .signup-tea-form{
    position: relative;
    z-index: 1;
  }