.survey-container {
  font-family: 'Balthazar', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin: auto;
}

.survey-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#007991de, rgba(0, 0, 0, 0.6)),
  url(https://thumbs.dreamstime.com/b/survey-person-using-laptop-white-table-130289059.jpg);  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

.survey-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.survey-form{
  position: relative;
  z-index: 1;
  margin: 150px 40px 40px 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.survey-container h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.survey-container p {
  font-size: 18px;
}

.survey-container h1,
p {
  margin-top: 0;
  margin-bottom: 10px;
}

.survey-container label {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.survey-container input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.survey-container button {
  border: none;
}
.radio-options label {
  display: flex;
  align-items: center; 
  margin-bottom: 10px;
  font-size: 16px; 
}

.radio-options input[type="radio"] {
  margin-right: 10px; 
  transform: scale(1.5); 
}
.survey-container {
  width: 100%;
  margin: 10px auto 0 auto;
}
.thank-you-message{
  text-align: center;
}

@media (min-width: 768px) {
  .survey-container {
      max-width: 720px;
  }
}

.survey-container .header {
  padding: 20px 16px;
  margin-bottom: 10px;
}

.survey-container .description {
  font-style: bold;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.survey-container .response {
  margin-left: 4px;
  font-size: 10px;
  color: #e4e4e4;
}

.survey-container .middle {
  text-align: center;
}

.survey-container form {
  padding: 20px 30px;
  border-radius: 4px;
}

@media (max-width: 480px) {
  .survey-container form {
      background-color: rgba(0, 0, 0, 0.3);
      padding: 0%;
  }
}

.survey-container .form {
  margin: 0 auto 10px auto;
  padding: 4px;
}

.survey-container .blank {
  display: block;
  width: 100%;
  height: 38px;
  padding: 9px 18px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.survey-container .blank:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.25);
}

.survey-container .radio,
.cb {
  display: inline-block;
  margin-right: 10px;
  min-height: 25px;
  min-width: 25px;
}

.survey-container .textarea {
  min-height: 120px;
  width: 100%;
  padding: 16px;
  resize: vertical;
  color: #495057;
}

.survey-container .submit {
  display: block;
  width: 100%;
  padding: 15px;
  background: #007991de;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
}

.survey-container .submit:hover {
  background-color: rgb(250, 191, 80);
}
