.border-lin{
    background-color: #fff;
    width: 122px;
    height: 122px;
  }
  @media (max-width: 1089px) {
  .section-profile-info{
    flex-direction: column;
  }
  .profile-info-btn{
    flex-direction: row;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .profile-btns{
    width: auto;
  }
  .profile-dynamic{
    margin: 0 8px;
  }
  }